# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Laba8\Game_blog\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
